* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 380px 1000px 697px 80px;
    min-height: 100vw;
    grid-template-areas:
        "nav nav nav"
        "presentacion presentacion presentacion"
        " servicios servicios servicios "
        "contact contact contact"
        "anuncios anuncios anuncios"
        "footer footer footer"
    ;
    justify-content: center;
    align-content: center;

}


/* Menu nav */
.hero {
    display: grid;
    background-color: #F5F5F5;
    grid-area: nav;
    align-items: center;
}

nav ul {
    float: right;
    padding-right: 20px;
}

nav ul li {
    display: inline;
    line-height: 40px;
    margin: 0 5px;
}

nav ul li a {
    color: #9b9b9b;
    font-size: 18px;
    border-radius: 3px;
    text-decoration: none;
}

.logo {
    justify-content: center;
    align-content: center;
    height: 40px;
    line-height: 80px;
    margin-left: 30px;
}

/* Presentacion de la empresa con slogan empresarial */
.presentacion {
    display: grid;
   
    grid-area: presentacion;
    gap: 10px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/Fondo_cabecera.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.presentacion h1 {
    grid-row: 1;
    color: rgb(03, 188, 196);
    font-size: 45px;
}

.presentacion h2 {
    grid-row: 2;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.presentacion .sostenible {
    grid-row: 3;
    font-size: 25px;
}

.presentacion button {
    grid-row: 4;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(03, 188, 196);
    align-self: center;
    justify-self: center;
}

/* Estilo adicional */

.presentacion button a {
    color: #fff;
    text-decoration: none;
}


/* ------------------ servicios---------------*/

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 350px 60px 350px 350px 60px 350px;
    justify-items: center;
    align-items: center;
    row-gap: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 800px;

}

.div1 {
    display: flex;
    justify-content: center;


}

.div2 {
    display: flex;
    justify-content: center;

}

.div3 {
    display: flex;
    justify-content: center;
}

.div4 {
    display: flex;
    justify-content: center;
}

#ns {
    padding-top: 20px;
    color: #817E7E;
}

#ri {
    color: #817E7E;
}

/* .miDiv1 {
  
}
.miDiv2 {
}

.miDiv3 {
} */

#su {
    color: #817E7E;

    /* display: grid;
    grid-row: 6;
    justify-items: center;
    align-items: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    color: #9b9b9b;
    font-size: 25px; */
}

.miDiv4 {
    /* display: grid;
    justify-items: center;
    text-align: center;
    grid-row: 7;
    grid-row-start: 7;
    grid-row-end: -2;
    padding: 20px;
    border: 1px solid #ccc;
    width: 260px;
    border-radius: 10px; */

}


#services_principal_termico {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 184, 156, 0.5),
            rgb(190, 190, 190)), url(./img/calefaccion.jpg);
    color: #F3F3F3;
}

#services_principal_climatizacion {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 184, 156, 0.5),
            rgb(190, 190, 190)), url(./img/Climatizacion.jpg);
    color: #F3F3F3;
}

#services_principal_baja_tension {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 184, 156, 0.5),
            rgb(190, 190, 190)), url(./img/baja\ tensión.jpg);
    color: #F3F3F3;
}

#services_secundario_tabicado {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 184, 156, 0.5),
            rgb(190, 190, 190)), url(./img/tabicado.jpg);
    color: #F3F3F3;
}

#services_secundario_bajatension {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 184, 156, 0.5),
            rgb(190, 190, 190)), url(./img/baja\ tensión.jpg);
    color: #F3F3F3;
}

#services_secundario_fontanería {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 184, 156, 0.5),
            rgb(190, 190, 190)), url(./img/fontaneria.png);
    color: #F3F3F3;
}

#services_secundario_aluminio {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 184, 156, 0.5),
            rgb(190, 190, 190)), url(./img/ferreteria.jpg);
    color: #F3F3F3;
}

#services_secundario_cerrajeria {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 184, 156, 0.5),
            rgb(190, 190, 190)), url(./img/cerrajeria.jpg);
    color: #F3F3F3;
}

#services_secundario_aluminio {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 184, 156, 0.5),
            rgb(190, 190, 190)), url(./img/ferreteria.jpg);
    color: #F3F3F3;
}

#services_secundario_fontanería {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 184, 156, 0.5),
            rgb(190, 190, 190)), url(./img/fontaneria.png);
    color: #F3F3F3;
}

#services_secundario_electrico {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 184, 156, 0.5),
            rgb(190, 190, 190)), url(./img/material\ electrico.jpg);
    color: #F3F3F3;
}



#services_principal_termico,
#services_principal_climatizacion,
#services_principal_baja_tension,
#services_secundario_tabicado,
#services_secundario_bajatension,
#services_secundario_tabicado,
#services_secundario_fontanería,
#services_secundario_aluminio,
#services_secundario_cerrajeria,
#services_secundario_electrico,
#services_secundario_ferreteria {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #ddd;
    margin: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 25px;
    /* margin-left: 30px;
    margin-right: 30px; */
    width: 260px;
    height: 350px;

}

#services_principal_termico:hover,
#services_principal_climatizacion:hover,
#services_principal_baja_tension:hover,
#services_secundario_tabicado:hover,
#services_secundario_bajatension:hover,
#services_secundario_tabicado:hover,
#services_secundario_fontanería:hover,
#services_secundario_aluminio:hover,
#services_secundario_cerrajeria:hover,
#services_secundario_electrico:hover,
#services_secundario_ferreteria:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

#services_principal_termico:hover p,
#services_principal_climatizacion:hover p,
#services_principal_baja_tension:hover p,
#services_secundario_tabicado:hover p,
#services_secundario_bajatension:hover p,
#services_secundario_tabicado:hover p,
#services_secundario_fontanería:hover p,
#services_secundario_aluminio:hover p,
#services_secundario_cerrajeria:hover p,
#services_secundario_electrico:hover p,
#services_secundario_ferreteria:hover p {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
}

/**********CONTACTO*****************/



.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Divide en dos columnas al 50% */
    gap: 20px;
    /* Espacio entre las columnas */
}

.map {
    grid-column: 1;
    /* Coloca el contenido de "map" en la primera columna */
    flex: 1;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 8px;
}

.form {
    grid-column: 2;
    /* Coloca el contenido de "form" en la segunda columna */
    flex: 1;
    box-sizing: border-box;
    margin: 5px;
}

.contact {
    display: flex;
    background: #F5F5F5;
    padding-bottom: 10px;
}

.contact-form {
    width: auto;
}

.map h5 {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.map p {
    color: #555;
    text-align: center;
    margin: 20px;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
}


.form h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #817E7E;
    margin: 15px;
}

.contact-form {
    display: grid;
    flex-direction: column;
    margin-top: 1.25rem;

}

.contact-form-group {
    display: grid;
    flex-direction: row;
    margin: 10px;
}

.contact-form-group input {
    border-radius: 5px;
    height: 30px;
    border: none;
}

.contact-form textarea,
.contact-form select {
    border-radius: 7px;
    border: none;
    height: 30px;
    padding: 5px 10px;
}

.contact-form textarea {
    height: auto;
    resize: vertical;
}

.contact-form-submit {
    justify-self: center;
    /* margin: 20px; */
    margin: 10px;
    height: 36.9px;
    width: 68.14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(03, 188, 196);
    color: #ffffff;
}


.autorizar {
    display: flex;
    justify-content: center;
    gap: 10px;
}


/* ====================FOOTER============== */

.menu_footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F5F5;
    font-size: 18px;
    height: 70px;
    gap: 100px;
}


/* certificaciones */

.certificados {
    display: flex;
    align-items: center;

}

.certificados img {
    height: 60px;
    width: 60px;
    gap: 30px;
}

.certificados a {
    color: #9b9b9b;
    border-radius: 3px;
    text-decoration: none;

}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #9b9b9b;
    height: 80px;
}

/* Banner  */
.cookie-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.cookie-banner p {
    padding: 5px;
}

.cookie-banner button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

/* =========================================================================================================== */

/* RESPONSIVE */

@media screen and (max-width: 480px) {


    .container {
        display: flex;
        flex-direction: column;
    }

    .contenedor {
        padding: 10px;
        gap: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    #ns,
    #su,
    #ri {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .div1,
    .div2,
    .div3,
    .div4 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #services_principal_termico,
    #services_principal_climatizacion,
    #services_principal_baja_tension,
    #services_secundario_tabicado,
    #services_secundario_bajatension,
    #services_secundario_tabicado,
    #services_secundario_fontanería,
    #services_secundario_aluminio,
    #services_secundario_cerrajeria,
    #services_secundario_electrico,
    #services_secundario_ferreteria {

        width: 230px;
        height: 320px;
    }

    nav ul li a {
        color: #9b9b9b;
        font-size: 12px;
    }

    .logo {
        padding-top: 10px;
        height: 30px;
    }

    .presentacion {
        gap: 5px;
    }

    .presentacion h1 {
        font-size: 28px;
    }

    .presentacion h2 h3 {
        font-size: 15px;
    }

    .presentacion button {
        width: 200px;
        height: 50px;
        font-size: 15px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contact-form {
        display: flex;
        justify-content: center;
    }

    .contact-form select {
        width: 350px;
    }

    .form h3 {
        font-size: 20px;
    }

    .contact-form-submit {
        align-self: center;
        height: 30px;
        width: 60px;
    }

    .autorizar {
        display: flex;
        justify-content: start;
        font-size: 12px;
        padding-left: 10px;
    }


    /* FOOOTER */

    .menu_footer {
        display: flex;
        align-items: center;
        font-size: 12px;
        height: 60px;
        gap: 0.5px;
        padding-bottom: 20px;
    }


    .menu_footer ul {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .menu_footer ul li {
        display: inline;
        line-height: 5px;

    }

    .menu_footer ul li a {
        color: #9b9b9b;
        border-radius: 3px;
        text-decoration: none;

    }

    .certificados {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .certificados img {
        height: 40px;
        width: 40px;
        gap: 5px;
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #9b9b9b;
        height: 50px;
        font-size: 12px;
    }

    /* Banner  */
    .cookie-banner {
        height: 60px;
        font-size: 12px;
        padding: 3px;
    }

    .cookie-banner button {

        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
    }


}




@media screen and (min-width: 481px) and (max-width: 720px) {

  

    .container {
        display: flex;
        flex-direction: column;
    }

    .contenedor {
        display: flex;
       
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .div1,
    .div2,
    .div3,
    .div4 {
        display: flex;
        justify-content: center;
    }

    #ns,
    #su,
    #ri {
        font-size: 20px;
    }

    #services_principal_termico,
    #services_principal_climatizacion,
    #services_principal_baja_tension,
    #services_secundario_tabicado,
    #services_secundario_bajatension,
    #services_secundario_tabicado,
    #services_secundario_fontanería,
    #services_secundario_aluminio,
    #services_secundario_cerrajeria,
    #services_secundario_electrico,
    #services_secundario_ferreteria {
        width: 180px;
        height: 300px;
    }

    nav ul li a {
        color: #9b9b9b;
        font-size: 15px;
    }

    .logo {
        padding-top: 10px;
        align-items: center;
        height: 30px;
    }

    .presentacion {
        gap: 5px;
    }

    .presentacion h1 {
        font-size: 28px;
    }

    .presentacion h2 h3 {
        font-size: 15px;
    }

    .presentacion button {
        width: 200px;
        height: 50px;
        font-size: 15px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contact-form {
        display: flex;
        justify-content: center;
    }

    .contact-form select {
        width: 350px;
    }

    .form h3 {
        font-size: 20px;
    }

    .contact-form-submit {
        align-self: center;
        height: 30px;
        width: 60px;
    }

    .autorizar {
        display: flex;
        justify-content: start;
        font-size: 12px;
        padding-left: 10px;
    }

    .menu_footer {
        display: flex;
        justify-content: space-around;
        font-size: 12px;
        height: 60px;
        gap: 10px;
        padding-bottom: 20px;
    }


    .certificados img {
        height: 40px;
        width: 40px;
        gap: 5px;
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #9b9b9b;
        height: 50px;
        font-size: 12px;
    }


    .cookie-banner {
        height: 60px;
        font-size: 12px;
        padding: 3px;
    }

    .cookie-banner button {

        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
    }

}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .menu_footer {
        display: flex;
        font-size: 12px;
        height: 80px;
        padding-bottom: 20px;
    }


}