.texto{
    line-height: 20px;
       padding-left: 20px;
}


nav {
    /* cambio display flex agregue justify y align */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    height: 80px;
   
}

nav ul {
    float: right;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
   
}

nav ul li a {
    color: #9b9b9b;
    font-size: 18px;
    /* padding: 7px 13px; */
    border-radius: 3px;
    text-decoration: none;
  
}

li a.active,
li a:hover {
    color: black;
    transition: .5s;
}



.logo {
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 80px;
    margin-left: 30px;
}

.menu_footer {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    font-size: 18px;
    height: 70px;
    gap: 360px;
}



.certificados {
    display: flex;
    align-items: center;

}

.certificados img {
    height: 60px;
    width: 60px;
    gap: 30px;
}

.certificados a {
    color: #9b9b9b;
    border-radius: 3px;
    text-decoration: none;

}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #9b9b9b;
    height: 80px;
}


/* =========================================================================================================== */

/* RESPONSIVE */

@media (width < 420px) {

    nav {
      
        height: 41px;
       
    }

    nav ul li a {
        color: #9b9b9b;
        font-size: 12px;
        
    }

    .logo {
        height: 30px;
    }

    
    .menu_footer {
        display: flex;
        align-items: center;
        font-size: 12px;
        height: 60px;
        gap: 0.5px;
       
    }


    .menu_footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .menu_footer ul li {
        display: inline;
        line-height: 5px;

    }

    .menu_footer ul li a {
        color: #9b9b9b;
        border-radius: 3px;
        text-decoration: none;

    }
    .certificados {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .certificados img {
        height: 40px;
        width: 40px;
        gap: 5px;
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #9b9b9b;
        height: 50px;
        font-size: 12px;
    }

}



 